.inside-head::after{
	content: "";
	display :block ;
	height: 0;
	clear :both;
	line-height: 0;
}


.head-left{
	float: left;
}
.head-right{
	float: right;
}
li{
	float: left;
	margin-right: 20px;
}
.head hr{
margin-right: 50px;
margin-left: 50px;
}
.head-left h1{
	padding: 14px 16px;
	color: blue;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
li a{
	display: block;
	text-align : center;
	padding: 15px 15px;
	text-decoration : none;
		
		color: blue;
}


.table{
	margin-top: 50px;
	margin-left:  400px;
	margin-right: 400px;
}

.tab{
	border: 1px solid #b9c3c9;
	width: 100%
}

.row1{
	background-color: #b9c3c9;
	text-align: left;
}

.row1 th{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	color: white;
}

.inside-row2{
	margin-left: 30px;
	margin-right: 30px;
}

.inside-row3{
	margin-left: 30px;
	margin-right: 30px;
}

.inside-row4{
	margin-left: 30px;
	margin-right: 30px;

}

.inside-row5{
	margin-left: 30px;
	margin-right: 30px;
}
.inside-row6{
	margin-left: 30px;
	margin-right: 30px;
	
}
.inside-row7{
	margin-left: 30px;
	margin-right: 30px;
}
.inside-row8{
	margin-left: 30px;
	margin-right: 30px;
}
.inside-row9{
	margin-left: 30px;
	margin-right: 30px;
}

.inside-row10{
	float: right;

}

